.banner {
  &-background {
    background-color: var(--background-color);
    min-height: 90vh;
    display: flex;
  }

  &-title {
    span {
      color: var(--dark-contrast-color);
    }
  }

  &-summary {
    padding: 10px 0 40px;
  }
}
