.banner {
  &-background {
    background-color: var(--background-color);
    min-height: 90vh;
  }

  &-card {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    &.image {
      align-items: center;
    }
  }

  &-summary {
    padding: 30px 0 50px;
  }
}
