.button-base {
  cursor: pointer !important;
  border-radius: 16px !important;
  padding: 16px 24px !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  line-height: 16px !important;
  text-transform: uppercase !important;
  transition: 0.3s !important;
}

.button-base:hover {
  opacity: 0.8;
}

.primary-standart {
  background: var(--dark-contrast-color);
  color: var(--background-color);
  border: none;
}

.primary-outline {
  background: transparent;
  color: var(--dark-contrast-color);
  border: 2px solid var(--dark-contrast-color);
}

.primary-text {
  background: transparent;
  color: var(--dark-contrast-color);
  border: none;
}

.secundary-standart {
  background: var(--contrast-color);
  color: var(--background-color);
  border: none;
}

.secundary-outline {
  background: transparent;
  color: var(--contrast-color);
  border: 2px solid var(--contrast-color);
}

.secundary-text {
  background: transparent;
  color: var(--contrast-color);
  border: none;
}

.tertiary-standart {
  background: var(--background-color);
  color: var(--text-color);
  border: none;
}

.tertiary-outline {
  background: transparent !important;
  color: var(--text-color) !important;
  border: 2px solid var(--text-color) !important;
}

.tertiary-text {
  background: transparent;
  color: var(--text-color);
  border: none;
}
