.header {
  &-background {
    padding: 20px 0;
    background-color: var(--background-color);
    display: flex;
    align-items: center;

    .menu {
      list-style: none;
      text-transform: uppercase;
    }
  }
}
