.header {
  &-background {
    background-color: var(--background-color);

    .navbar-toggler {
      border: none;
      box-shadow: none;

      &-icon {
        width: 45px;
        height: 45px;
        background-image: url(/public/assets/icons/menu.svg);
      }
    }
  }
}

#control-show-right-side-menu {
  background-color: var(--background-color);

  .btn-close {
    width: 45px;
    height: 45px;
    background: transparent url(/public/assets/icons/close.svg) center/2em auto no-repeat;
  }
}
