.header {
  &-background {
    background-color: var(--background-color);

    .fill-icon{
      padding: 0.5rem;
      background-color: #E7ECEF;
      border-radius: 50%;
      width: fit-content;
    }
    .navbar-toggler {
      border: none;
      box-shadow: none;

      &-icon {
        width: 45px;
        height: 45px;
        background-image: url(/public/assets/icons/menu.svg);
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .logo:hover {
      color: unset !important;
    }
  }
}

#control-show-right-side-menu {
  background-color: var(--background-color);

  .btn-close {
    box-shadow: none;
    width: 45px;
    height: 45px;
    background: url(/public/assets/icons/close.svg) center/2em auto no-repeat;
  }
}
