.chat-component {
    height: 90vh;
    &-header {
        height: 15%;
        padding: 0 0 0 1rem;
        border-bottom: 1.5px solid #dcdcdc;
    }

    &-content {
        height: 74%;
        padding: 1rem;
        overflow-y: auto;
        background-color: #d8dce0;
    }

    &-footer {
        height: 11%;
        background-color: #fff;
    }
}
