.chat-component {
    height: 90vh;

    &-header {
        height: 70px;
        padding-left: 20px;
    }

    &-content {
        height: 74%;
        padding: 1rem;
        overflow-y: auto;
        background-color: #d8dce0;
    }

    &-footer {
        height: 11%;
        background-color: #fff;
    }
}
