.services{
    &-background{
        background: radial-gradient(95.56% 95.56% at 50% 4.44%, rgba(29, 29, 29, 0.711) 0%, rgba(29, 29, 29, 0.9) 23.82%);
        backdrop-filter: blur(25px);
        min-height: 80vh;
        .left-side{
            width: 50%;
        }
        .right-side{
            width: 50%;
        }
    }
    
}