.column-center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-center-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.column-center-x {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.row-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-center-y {
  display: flex;
  justify-content: center;
  align-items: start;
}

.row-center-x {
  display: flex;
  justify-content: start;
  align-items: center;
}

.text-center {
  text-align: center;
}

.padding-small {
}
