.logo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.1em;
  color: #1D1D1D;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1D1D1D;
}

.big-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
}

.summary {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
