.logo {
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 39px !important;
  letter-spacing: 0.1em !important;
  color: #1D1D1D;
  text-transform: uppercase !important;
  text-decoration: none;

  &:hover {
    color: #1D1D1D !important;
  }
}

.dark-contrast-color {
  color: var(--dark-contrast-color) !important;
}

.ligth-contrast-color {
  color: var(--ligth-contrast-color) !important;
}

.contrast-color {
  color: var(--contrast-color) !important;
}

.aditional-color {
  color: var(--aditional-color) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-30 {
  font-size: 30px !important;
}

.f-36 {
  font-size: 36px !important;
}

.f-42 {
  font-size: 42px !important;
}

.f-52 {
  font-size: 52px !important;
}

.f-roboto {
  font-family: 'Roboto' !important;
}

.f-inter {
  font-family: 'Inter' !important;
}

.f-poppins {
  font-family: 'Poppins' !important;
}

.big-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1D1D1D;
}

.category {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #274C77;
}

.summary {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text-center {
  text-align: center;
}
