.ad{
    &-background{
        box-sizing: border-box;
        background-color: #333333;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .content-background{
            padding-top: 3rem;
            border-radius: 20px;
            background-color: var(--contrast-color);
            gap: 2rem;

            .category{
                color: var(--text-color);
                font-weight: bolder;
                margin-bottom: 1rem;
            }
            .big-title{
                margin-bottom: 2rem;
            }

            .figure-container{
                margin: 0;
                .figure-img{
                    margin: 0;
                }
            }
           
        }

    }
    
}