.card-header {
    margin-top: 50px;
    height: 465px;
    width: 510px;
    padding: 5px;
    
  
  
    .card-border{
        border-radius: 30px;
        height: 550px;
        width: 500px;
        border: solid #E7ECEF 2px ;
        border-bottom:solid  #d4dee4 7px;
        border-left:solid #d4dee4 5px ;
        border-width:solid #d4dee4 2px ;
        padding: 20px;
    }
   
    input {
        background-color: #E7ECEF;
        border-radius: 10px;
        padding: 10px;
        margin-top: 15px;
    }
    .btn {
        margin-top: 20px;
        background-color: var(--dark-contrast-color);
        width: 258px;
        height: 48px;
        border-radius: 20px;
        margin-left: 80px;
    }
    .card-body {
        height: 320px;
        padding: 20px;
    }
    .form-group {
        padding: 10px;

    }
    h6 {
        padding: 30px;
    }
    h4{
        padding: 20px;
    }
}