.services-available {
  &-background {
    border: 1px solid #dfe0e4;
    transition: 0.4s ease-in-out;

    &:hover {
      -webkit-box-shadow: 0px 0px 16px 0px rgba(181, 181, 181, 1);
      -moz-box-shadow: 0px 0px 16px 0px rgba(181, 181, 181, 1);
      box-shadow: 0px 0px 16px 0px rgba(181, 181, 181, 1);
    }
    
    .b-radius-button {
      border-radius: 0 0 16px 16px !important;
    }

    .button-hidden {
      bottom: -50px;
    }

    @media (max-width: 991px) {
      .button-hidden {
        bottom: 0 !important;
      }
      .services-available{
        max-width: 480px;
      }
    }
  }
}

.tooltip {
  background-color: var(--extra-ligth-contrast-color) !important;
  opacity: 1 !important;
  color: var(--dark-contrast-color) !important;
}
.custom-swipeable-views .css-rjx5t6-MuiPaper-root-MuiMobileStepper-root {
  display: none !important;
}